<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
  <title>魔法少女</title>
</head>
<body>
  <div layout:fragment="content">
    <el-input
        placeholder="输入关键字进行过滤"
        v-model="filterText">
    </el-input>
    <el-tree
        class="filter-tree"
        :data="permissions"
        :props="defaultProps"
        default-expand-all
        :filter-node-method="filterNode"
        ref="tree2">
    </el-tree>
  </div>
<script layout:fragment="script" srp:src="@{/static/js/permission.js}"></script>
</body>
</html>
